body{
    background: #1c1b1c;
}
#container{
    width: 350px;
    margin: 40px auto;
    background: #555;
    padding-bottom: 20px; 
}
h1{
    text-align: center;
    color: #fff;
}
#board li{
    width: 70px;
    height: 70px;
    float: left;
    list-style: none;
    background: #333;
    margin: 10px;
    font-size: 50px;
    text-align: center;
    color: #cccc;
    line-height: 70px;
}
.clearfix{
    clear: both;
}
footer{
    text-align: center;
    padding: 20px;
    margin: 10px;
}
#reset{
    width: 70%;
    background: #444;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.o{
    color: green !important;
}
.x{
    color: red !important;
}
